################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/TestApplication/.vs/TestApplication/v15/Server/sqlite3/db.lock
